*{
  padding:0px;
  margin:0px;
}
.App {
  padding:0px;
  text-align: left;
  background-color: #ffffff;
  /* margin-bottom: 30px; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.navbar{
  padding:10px;
  display:flex;
  gap:15px;
  font-size: 20px;
  background-color: rgb(217, 216, 216);
  color:rgb(6, 6, 6);
  /* margin-bottom: 10px; */
}

.Routes {
  margin:10px;
}

.navlink {
  text-decoration: none !important;
  color:rgb(0, 0, 0);
}

.navlink :hover{
   text-decoration: underline;
   color:white;
}

.add_movie_form{
  display:flex;
  flex-direction: column;
  width:300px;
  margin-bottom:30px;
  background-color: rgb(205, 201, 201);
  padding:15px;
  border-radius: 10px;
}

.add_movie_form > input {
  margin:5px;
}
.add_movie_form > button {
  margin:5px;
}


.movie_detail{
  width:70%;
  display:flex;
  flex-direction: column;
  gap:10px;

}
.movie_detail_spec{
  display:flex;
  justify-content: space-between;
}

.movie_trailer > .mui_back_button{
  margin-top: 10px;
}