.movie_container{
    width:280px;
    text-align:left;
    /* border:0.5px solid black; */
    /* box-shadow: 5px 5px 5px 5px #888888; */
}

.movie_specs{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:4px;
}

.movie_name_icon{
    display:flex;
    justify-content:space-between;
}

.movie_poster{
    height:400px;
    width:280px;
    object-fit: cover;
}

.movie_summary{
    text-align:left;
}

.bottom_icon_container{
    display:flex;
    justify-content:space-between;
}

